In [21]:
import numpy as np
import pandas as pd
import math
import matplotlib.pyplot as plt
from jupyterthemes import jtplot 
jtplot.style()
from sklearn import linear_model

In [2]:
# Reading csv data

homePrice = pd.read_csv('C:/Users/LENOVO/# Jupyter Notebook Files/Data Sets/House Pricing/houseprice.csv')
homePrice

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

In [3]:
# Cleaning data

homePrice.bedrooms = homePrice.bedrooms.fillna(math.floor(homePrice.bedrooms.mean()))
homePrice

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       3.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

In [4]:
# Training model

model = linear_model.LinearRegression()
model.fit(homePrice[['area','bedrooms','age']],homePrice.price)

LinearRegression()

In [5]:
# Plotting the mathematical model
# Not useful in plotting as the model is in atleast 3 Dimensions

In [6]:
# Predicting the output

area = float(input("What would be the approx. area of the house you are looking for ? : "))
bedrooms = float(input("How many bedrooms would you prefer ? : "))
age = float(input("How old of a house are you looking for ? : "))
price = int(model.predict([[area,bedrooms,age]]))
print("\n You would most likely get a house in that specific range for about $ {} ".format(price))

What would be the approx. area of the house you are looking for ? : 3000
How many bedrooms would you prefer ? : 4
How old of a house are you looking for ? : 5

 You would most likely get a house in that specific range for about $ 657249

In [22]:
linear_model.LinearRegression()

SyntaxError: invalid syntax (<ipython-input-22-9b5bcc958d33>, line 1)