In [1]:
import math
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import linear_model
from jupyterthemes import jtplot
jtplot.style()

In [2]:
# Reading csv data

housePrice = pd.read_csv('C:/Users/LENOVO/# Jupyter Notebook Files/Data Sets/House Pricing/data.csv')

In [3]:
# Structing data

housePrice = housePrice[['sqft_living','floors','waterfront','yr_built','bathrooms','view','price']].copy()
housePrice = housePrice.rename(columns={'sqft_living':'area'})
housePrice

      area  floors  waterfront  yr_built  bathrooms  view         price
0     1340     1.5           0      1955       1.50     0  3.130000e+05
1     3650     2.0           0      1921       2.50     4  2.384000e+06
2     1930     1.0           0      1966       2.00     0  3.420000e+05
3     2000     1.0           0      1963       2.25     0  4.200000e+05
4     1940     1.0           0      1976       2.50     0  5.500000e+05
...    ...     ...         ...       ...        ...   ...           ...
4595  1510     1.0           0      1954       1.75     0  3.081667e+05
4596  1460     2.0           0      1983       2.50     0  5.343333e+05
4597  3010     2.0           0      2009       2.50     0  4.169042e+05
4598  2090     1.0           0      1974       2.00     0  2.034000e+05
4599  1490     2.0           0      1990       2.50     0  2.206000e+05

[4600 rows x 7 columns]

In [4]:
# Training the model

model = linear_model.LinearRegression()
model.fit(housePrice[['area','floors','waterfront','yr_built','bathrooms','view']],housePrice.price)

LinearRegression()

In [5]:
# Plotting the mathematical model
# Not much useful in plotting the model as the model would be in atleast 6 Dimensions

In [ ]:
# Predicting the output

area = float(input("What would be the approx. area in sq ft of the house you are looking for ? : "))
floors = float(input("How many floors would you like ? :"))
waterfront = input("Would you prefer a house with a waterfront ? ").lower()
pos = ['yes','y','yeah','why not','yea','y not','yup','definitely','positive','1']
if waterfront in pos:
    waterfront = 1
else:
    waterfront = 0
bathrooms = float(input("How many bathrooms would you prefer for your house ? : "))
yrBuilt = int(input("Which year of make/built would you prefer ? : "))
view = int(input("On a rating of 0 to 5, how would youu want to rate the view of your house ? : "))
price = int(model.predict([[area,floors,waterfront,bathrooms,yrBuilt,view]]))
print("\nYou would most likely get a house with those specifications at an approx. price of $ {}.".format(price))